<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>upload</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
 <a class="btn btn-primary m-3" href="{% url 'app3:home' %}" >Back to Home</a>
<div style="padding-left:50px; font-family: sans-serif; font-size: 20px;  ">
    <h3>upload</h3>

    <form method="POST" , enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit">
    </form>

</div>
</body>
</html>